:root {
    --primary: #2243ff;
    --secondary: #22ff7e;
    --three: #22ffde;
    --four: #eff83d;
    --five: #ff49ea;
    --six: #fe3535;
    --seven: #8235fe;
    --eight: #64bedf;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
	line-height: 1.48em;
    font-weight: normal;
}

.page {
    background-color: black;
    color: azure;
    padding: 2.5%;
}

a {
    text-decoration: none;
}

.head-name {
    background-color: var(--primary);
    color: azure;
    max-width: 85%;
}

.big-sticky {
    display: block;
    width: 21em;
    height: 21em;
    padding: 3px;
}

.sticky {
    display: block;
    width: 7em;
    height: 7em;
    padding: 1px;
}

.link {
    text-decoration: none;
    font-size: 85%;
    color: black;
}

.insticky-link {
    color: black;
    font-style: italic;
    text-decoration: underline;
}

.insticky-link:hover {
    color: azure;
    font-weight: bold;
}

.sticky-1 {
    background-color: var(--seven);
}

.sticky-2 {
    background-color: var(--secondary);
}

.sticky-3 {
    background-color: var(--three);
}

.sticky-4 {
    background-color: var(--four);
}

.sticky-5 {
    background-color: var(--five);
}

.sticky-6 {
    background-color: var(--six);
}

.sticky-7 {
    background-color: var(--primary);
}

.reserved {
    background-color: black;
    color: black;
    transition: all 2s;
}

.reserved:hover {
    background-color: #101010;
    color: azure;
    opacity: 0.6;
}

